#easyadmin-new-ProductTag label[for=producttag_productTagItems],
label[for=catalog_catalogUrls],
label[for=catalog_productTagItems],
label[for=product_producttagitem],
label[for=product_productItems],
label[for=product_catalog],
label[for=product_producttagitem],
.easyadmin.edit-product #_easyadmin_form_design_element_7 label,
.new-items label[for=items_product_id],
.edit-items label[for=items_product_id],
.edit-items label[for=items_productItemImages],
.new-items label[for=items_productItemImages],
label[for=productitemtagitem_entity],
label[for=items_productItemTagItems],
label[for=store_storeUrls]
{
    display: none;
}
.edit-productitemtag .thumbnail .btn.pull-right .glyphicon-remove,
.edit-productitemtag .thumbnail .btn.pull-right {
    line-height: 0.43;
}
.field-a2lix_translations .col-sm-2:not(.control-label) {
    display: none;
}
@media (min-width: 768px) {
    .a2lix_translationsFields.tab-content .field-ckeditor .col-sm-10{
        width: 100% !important;
    }
}
#easyadmin-new-LenseTag #_easyadmin_form_design_element_4-tab {
    display: none;
}
label[for=product_lenses] {
    display: none;
}
label.form-check-label {
    font-weight: 500 !important;
    padding-left: 5px;
}
#steps-wizard .form-group {
    margin-bottom: 0px !important;
}
.children_tags {
    margin-left: 50px;
}
.edit.edit-product #_easyadmin_form_design_element_13 h4,
.edit.edit-product #_easyadmin_form_design_element_13 .form-group{
    margin-top: 0px !important;
    margin-bottom: 0px !important;
}
.col-sm-10 {
    margin-left: 22px;
}