.button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 6px 16px;
    color: var(--color-font);
    font-weight: 400;
    font-size: var(--font-size-base);
    font-family: var(--font-sans-serif);
    line-height: 1.5;
    white-space: nowrap;
    text-align: center;
    text-decoration: none !important;
    text-shadow: none;
    background: none;
    border: 1px solid transparent;
    border-radius: var(--border-radius);
    cursor: pointer;
    transition: background-color 0.15s ease-in-out, color 0.15s ease-in-out, border-color 0.15s ease-in-out;
    user-select: none;
}

.outlined-primary {
    color: var(--color-font);
    border-color: #a1a4a6;

    &:hover {
        color: var(--color-white);
        background-color: var(--color-primary);
        border-color: var(--color-primary);
    }

    &:disabled {
        color: var(--color-primary);
        background-color: transparent;
    }
}

.outlined-secondary {
    color: var(--color-secondary);
    border-color: var(--color-secondary);

    &:hover {
        color: var(--color-white);
        background-color: var(--color-secondary);
        border-color: var(--color-secondary);
    }

    &:disabled {
        color: var(--color-secondary);
        background-color: transparent;
    }
}

.primary {
    color: var(--color-white);
    background-color: var(--color-primary);
    border: 2px solid var(--color-primary);

    &:hover,
    &:focus {
        background-color: color(var(--color-primary) shade(15%));
        border-color: color(var(--color-primary) shade(15%));

        &.disabled,
        &:disabled {
            color: var(--color-white);
            background-color: var(--color-primary);
        }
    }
}

.secondary {
    color: #333;
    background-color: var(--color-secondary);
    border: 2px solid var(--color-secondary);

    &:hover,
    &:focus {
        background-color: var(--color-white);

        &.disabled,
        &:disabled {
            background-color: var(--color-secondary);
        }
    }
}

.simple {
    color: var(--color-font);
    background-color: transparent;
    border-color: #a1a4a6;

    &:hover,
    &:focus {
        color: var(--color-font);
        border-color: var(--color-font);
    }
}

.bold {
    font-weight: var(--font-weight-bold);
}

.uppercase {
    text-transform: uppercase;
}

.disabled {
    box-shadow: none;
    cursor: not-allowed;
    opacity: 0.5;
}

.large {
    padding: 10px 24px;
}

.small {
    padding: 4px 16px;
    border-radius: var(--border-radius-small);
}

.rounded {
    border-radius: 17px;
}

.fullWidth {
    display: block;
    width: 100%;
}
