.list {
    display: flex;
}

.item {
    width: 18px;
    height: 18px;
    margin: 6px;
    background: none;
    background-position: center;
    background-size: cover;
    border: 0;
    border-radius: 50%;
    box-shadow: 0 0 0 3px var(--color-white);
    cursor: pointer;
    transition: box-shadow 0.1s ease;

    &:hover {
        box-shadow: 0 0 0 3px var(--color-white), 0 0 0 4px #a1a4a6;
    }
}

.active {
    box-shadow: 0 0 0 3px var(--color-white), 0 0 0 4px var(--color-font);
}
