.root {
    position: relative;
}

.background {
    /* height: 200px; */
    position: relative;
    width: 100%;
    overflow: hidden;

    @media (--viewport--phone) {
        height: 260px;
    }

    @media (--viewport-desktop) {
        height: auto;
        min-height: 250px;
        max-height: 420px;
    }
}

.body {
    max-width: 340px;
    margin: 0 auto;
    padding-top: 20px;
    text-align: center;

    @media (--viewport-tablet) {
        position: absolute;
        top: 50%;
        left: calc(50% - 210px);
        max-width: 40%;
        padding: 0;
        text-align: left;
        border-color: transparent;
        transform: translate(-50%, -50%);
    }
}

.title {
    margin-bottom: 16px;
    font-weight: 600;
    font-size: 12px;
    text-transform: uppercase;
}

.subtitle {
    color: var(--color-font);
    font-weight: 600;
    font-size: 24px;
    font-family: var(--font-serif);
    line-height: calc(1em + 6px);

    @media (--viewport-tablet) {
        font-size: 30px;
    }

    @media (--viewport-desktop) {
        font-size: 34px;
    }

    @media (--viewport-wide) {
        font-size: 40px;
    }
}

.image {
    position: relative;
    left: 50%;
    width: auto;
    max-width: none;
    height: 100%;
    transform: translateX(-50%);
}
