.root {
    position: relative;
}

.background {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.text {
    max-width: 340px;
    margin: 0 auto;
    padding-top: 20px;
    text-align: center;

    @media (--viewport-tablet) {
        position: absolute;
        top: 50%;
        left: 10%;
        max-width: 40%;
        padding: 0;
        text-align: left;
        border-color: transparent;
        transform: translateY(-50%);
    }
}

.title {
    margin-bottom: 16px;
    font-weight: 600;
    font-size: 12px;
    text-transform: uppercase;
}

.subtitle {
    color: var(--color-font);
    font-weight: var(--headings-font-weight);
    font-size: 24px;
    font-family: var(--headings-font);
    line-height: var(--headings-line-height);

    @media (--viewport-tablet) {
        font-size: 30px;
    }

    @media (--viewport-desktop) {
        font-size: 34px;
    }

    @media (--viewport-wide) {
        font-size: 40px;
    }
}

.image {
    width: 100%;
}
