{% extends 'emails/base.html.twig' %}

{% block title %}Reset password{% endblock %}

{% block body %}
    <p style="margin: 0 0 1em">Hi {{ user.email }},</p>
    <p style="margin: 0 0 1em">
        Sorry to hear your password has gone missing! (It happens to the best of us.) Here is a link
        to reset it:
        <a
            href="https://www.brillenhof.com/account/forgot-password/{{ user.confirmationToken }}"
            style="border: none; color: #02A9E1; text-decoration: none"
        >Reset Password</a>
    </p>
    <div style="margin-top: 40px">
        <p style="margin: 0 0 1em">
            Thanks!<span style="display: block; font-size: 15px; font-style: italic">Brillenhof team</span>
        </p>
    </div>
{% endblock %}
