.root {
    @media (--viewport-desktop) {
        margin-bottom: 72px;
    }
}

.imageWrapper {
    max-width: 83.33333%;
    margin: 0 auto;
    text-align: center;
}

.body {
    display: grid;
    grid-gap: 36px;
    margin-top: 48px;

    @media (--viewport-desktop) {
        grid-gap: 48px;
        grid-template-columns: 37% 33.33333%;
        justify-content: center;
    }
}

.textBlock {
    max-width: 400px;
    margin: 0 auto;
    text-align: center;

    @media (--viewport-desktop) {
        max-width: none;
        margin: 0;
        text-align: left;
    }
}

.title {
    margin-bottom: 12px;
    color: var(--color-font);
    font-weight: var(--headings-font-weight);
    font-size: 24px;
    font-family: var(--headings-font);
    line-height: var(--headings-line-height);

    @media (--viewport-ipad) {
        font-size: 30px;
    }
}

.text {
    color: #676f78;
    font-size: var(--font-size-base);
}

.actions {
    display: inline-grid;
    grid-gap: 18px;
    margin-top: 24px;
}

.rightBlock {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 240px;
    background: #f8f8f8;

    @media (--viewport-desktop) {
        display: block;
        height: auto;
        background: none;
    }
}

.quotes {
    max-width: 400px;
    margin: 0 auto;
}
