.root {
    padding: 48px 18px 12px;
    text-align: center;
    background-color: #f8f8f8;

    @media (--viewport-desktop) {
        padding-top: 72px;
    }
}

.title {
    margin-bottom: 24px;
    color: #414b56;
    font-weight: var(--headings-font-weight);
    font-size: 24px;
    font-family: var(--headings-font);
    line-height: var(--headings-line-height);

    @media (--viewport-ipad) {
        margin-bottom: 24px;
        font-size: 30px;
    }

    @media (--viewport-desktop) {
        margin-bottom: 48px;
        font-size: 34px;
    }
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 -12px;

    @media (--viewport-desktop) {
        margin: 0 -18px;
    }
}

.card {
    flex: 0 0 100%;
    max-width: 600px;
    margin-bottom: 36px;
    padding: 0 12px;

    @media (--viewport-desktop) {
        flex: 0 0 41.66667%;
        max-width: 41.66667%;
        margin-bottom: 84px;
        padding: 0 18px;
    }
}
