.root {
    @media (--viewport-desktop) {
        margin-bottom: 72px;
    }
}

.imageWrapper {
    max-width: 83.33333%;
    margin: 0 auto 36px;
    text-align: center;

    @media (--viewport-desktop) {
        margin-bottom: 48px;
        padding-right: 18px;
        padding-left: 18px;
    }

    @media (--viewport-wide) {
        padding-right: 24px;
        padding-left: 24px;
    }
}

.body {
    margin-top: 48px;

    @media (--viewport-desktop) {
        display: flex;
        justify-content: center;
    }
}

.textBlock {
    max-width: 400px;
    margin: 0 auto;
    padding-bottom: 36px;
    text-align: center;

    @media (--viewport-desktop) {
        width: 37%;
        max-width: none;
        margin: 0;
        text-align: left;
    }
}

.title {
    margin-bottom: 12px;
    color: var(--color-font);
    font-weight: var(--headings-font-weight);
    font-size: 24px;
    font-family: var(--headings-font);
    line-height: var(--headings-line-height);

    @media (--viewport-ipad) {
        font-size: 30px;
    }
}

.text {
    margin-bottom: 24px;
    color: #676f78;
    font-size: 16px;
}

.actions {
    display: inline-grid;
    /* width: 100%; */
    grid-auto-columns: 1fr;
    grid-gap: 18px;
}

.rightBlock {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 240px;
    background: #f8f8f8;

    @media (--viewport-desktop) {
        display: block;
        width: 33.33333%;
        height: auto;
        background: none;
    }
}

.quotes {
    max-width: 400px;
    margin: 0 auto;
}
