.root {
    @media (--viewport-desktop) {
        margin-bottom: 72px;
    }
}

.imageWrapper {
    max-width: 83.33333%;
    margin: 0 auto 36px;
    text-align: center;

    @media (--viewport-desktop) {
        padding-left: 18px;
        padding-right: 18px;
        margin-bottom: 48px;
    }

    @media (--viewport-wide) {
        padding-left: 24px;
        padding-right: 24px;
    }
}

.body {
    margin-top: 48px;

    @media (--viewport-desktop) {
        display: flex;
        justify-content: center;
    }
}

.textBlock {
    text-align: center;
    margin: 0 auto;
    max-width: 400px;
    padding-bottom: 36px;

    @media (--viewport-desktop) {
        text-align: left;
        margin: 0;
        max-width: none;
        width: 37%;
    }
}

.title {
    font-family: var(--headings-font);
    font-weight: var(--headings-font-weight);
    line-height: var(--headings-line-height);
    font-size: 24px;
    color: var(--color-font);
    margin-bottom: 12px;

    @media (--viewport-ipad) {
        font-size: 30px;
    }
}

.text {
    font-size: 16px;
    color: #676f78;
    margin-bottom: 24px;
}

.actions {
    display: inline-grid;
    grid-gap: 18px;
    /*width: 100%;*/
    grid-auto-columns: 1fr;
}

.rightBlock {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #f8f8f8;
    height: 240px;

    @media (--viewport-desktop) {
        display: block;
        background: none;
        height: auto;
        width: 33.33333%;
    }
}

.quotes {
    max-width: 400px;
    margin: 0 auto;
}
