.section {
    margin-bottom: 48px;

    @media (--viewport-desktop) {
        margin-bottom: 72px;
    }
}

.sectionImageWrapper {
    max-width: 83.33333%;
    margin: 0 auto 36px;
    text-align: center;

    @media (--viewport-desktop) {
        margin-bottom: 48px;
        padding-right: 18px;
        padding-left: 18px;
    }

    @media (--viewport-wide) {
        padding-right: 24px;
        padding-left: 24px;
    }
}

.sectionTextBlock {
    max-width: 400px;
    margin: 0 auto;
    padding-bottom: 36px;
    text-align: center;
}

.sectionTitle {
    margin-bottom: 12px;
    color: var(--color-font);
    font-weight: var(--headings-font-weight);
    font-size: 24px;
    font-family: var(--headings-font);
    line-height: var(--headings-line-height);

    @media (--viewport-ipad) {
        font-size: 30px;
    }
}

.sectionText {
    margin-bottom: 24px;
    color: #676f78;
    font-size: var(--font-size-base);
}

.button {
    display: inline-block;
    min-width: 232px;
    height: 48px;
    margin-bottom: 0;
    padding: 6px 16px;
    color: var(--color-font);
    font-weight: var(--font-weight-bold);
    font-size: var(--font-size-base);
    line-height: 32px;
    white-space: nowrap;
    text-align: center;
    text-shadow: none;
    vertical-align: middle;
    background: var(--color-white);
    border: 1px solid var(--color-white);
    border-radius: 1px;
    outline: 0;
    cursor: pointer;
    transition: background-color 0.4s;
    appearance: none;

    &:hover {
        color: var(--color-font);
        background-color: var(--color-white);
        border-color: var(--color-font);
        box-shadow: none;
    }
}
