.root {
}

.title {
    font-weight: var(--headings-font-weight);
    font-family: var(--headings-font);
    line-height: var(--headings-line-height);
    margin-bottom: 12px;

    @media (--viewport-ipad) {
        font-size: 24px;
    }

    @media (--viewport-desktop) {
        font-size: 26px;
    }
}

.subtitle {
    font-weight: 600;
    line-height: calc(1em + 10px);
    margin: 0;
    font-size: var(--font-size-large);
    color: #414b56;
}

.text {
    line-height: calc(1em + 10px);
    font-size: var(--font-size-base);
    color: #676f78;
    margin-bottom: 24px;

    @media (--viewport-desktop) {
        font-size: var(--font-size-large);
    }
}
