.dots {
    display: flex;
    height: 60px;
    margin-bottom: 6px;
    padding: 24px 24px 0;
}

.dot {
    display: inline-block;
    width: 8px;
    height: 8px;
    background-color: var(--color-white);
    border: 1px solid var(--color-font);
    border-radius: 50%;
    cursor: pointer;

    &:not(:last-child) {
        margin-right: 12px;
    }

    &.active {
        background-color: var(--color-font);
    }
}
