.top {
    padding-bottom: 30px;
    background-color: #f8f8f8;

    @media (--viewport-ipad) {
        padding-top: 48px;
        padding-bottom: 48px;
    }
}

.row {
    @media (--viewport-ipad) {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 91.66667%;
        margin: 0 auto;
        padding-bottom: 42px;
    }
}

.menus {
    flex: 0 0 100%;
    max-width: 100%;
    border-top: 1px solid #d2d6d9;
    border-bottom: 1px solid #d2d6d9;

    @media (--viewport-ipad) {
        display: flex;
        justify-content: space-between;
        border-top: 0;
    }

    @media (--viewport-desktop) {
        flex: 0 0 70%;
        max-width: 70%;
        padding-right: 3%;
        border-right: 1px solid #d2d6d9;
        border-bottom: 0;
    }
}

.menu {
    position: relative;
    margin-right: 18px;
    margin-left: 18px;
    padding-top: 30px;
    padding-bottom: 12px;
    border-bottom: 1px solid #d2d6d9;

    &:last-child {
        border-bottom: 0;
    }

    @media (--viewport-ipad) {
        margin: 0;
        padding: 0;
        border-bottom: 0;
    }
}

.menuTitle {
    margin-bottom: 21px;
    font-weight: 600;
    font-size: 16px;

    @media (--viewport-ipad) {
        font-size: 12px;
        letter-spacing: 1.5px;
        text-transform: uppercase;
    }
}

.list {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -9px;
}

.listItem {
    flex: 0 0 50%;
    max-width: 50%;
    margin-bottom: 18px;
    padding: 0 9px;
}

.link {
    color: #676f78;
    transition: color 0.2s ease;

    &:hover {
        color: var(--color-font);
    }
}

.help {
    flex: 0 0 100%;
    max-width: 100%;
    padding-top: 24px;
    text-align: center;

    @media (--viewport-ipad) {
        padding-top: 42px;
    }

    @media (--viewport-desktop) {
        flex: 0 0 30%;
        max-width: 30%;
        padding-left: 3%;
    }
}

.bottom {
    width: 91.66667%;
    margin: 0 auto;
    padding-top: 24px;
    padding-bottom: 24px;

    @media (--viewport-desktop) {
        display: flex;
        flex-wrap: wrap;
    }
}

.countries {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 24px;
    padding-bottom: 24px;
    border-bottom: 1px solid #d2d6d9;

    @media (--viewport-desktop) {
        flex: 0 0 100%;
    }
}

.bottomMenu {
    display: flex;
    flex: 0 0 100%;
    flex-wrap: wrap;
    max-width: 100%;
    margin: 0 -8px;

    @media (--viewport-phone) {
        justify-content: center;
    }
}

.bottomMenuItem {
    flex: 0 0 50%;
    max-width: 50%;
    padding: 6px 8px;
    font-size: 12px;
    white-space: nowrap;

    @media (--viewport-phone) {
        flex: none;
    }
}
