.top {
    padding-bottom: 30px;
    background-color: #f8f8f8;

    @media (--viewport-ipad) {
        padding-top: 48px;
        padding-bottom: 48px;
    }
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    @media (--viewport-ipad) {
        width: 91.66667%;
        margin: 0 auto;
        padding-bottom: 42px;
    }

    @media (--viewport-wide) {
        justify-content: space-between;
    }
}

.menu {
    flex: 0 0 100%;
    max-width: 100%;
    border-top: 1px solid #d2d6d9;
    border-bottom: 1px solid #d2d6d9;

    @media (--viewport-ipad) {
        display: flex;
        justify-content: space-between;
        border-top: 0;
    }

    @media (--viewport-wide) {
        flex: 0 0 70%;
        max-width: 70%;
        padding-right: 3%;
        border-right: 1px solid #d2d6d9;
        border-bottom: 0;
    }
}

.help {
    padding-top: 24px;
    text-align: center;

    @media (--viewport-ipad) {
        padding-top: 42px;
    }

    @media (--viewport-wide) {
        flex: 0 0 30%;
        max-width: 30%;
        padding-left: 3%;
    }
}

.bottom {
    width: 91.66667%;
    margin: 0 auto;
    padding-top: 24px;
    padding-bottom: 24px;

    @media (--viewport-wide) {
        display: flex;
    }
}

.countries {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 24px;
    padding-bottom: 24px;
    border-bottom: 1px solid #d2d6d9;

    @media (--viewport-wide) {
        flex: 1;
        border: 0;
        padding: 0;
        margin: 0;
    }
}

.bottomMenu {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -8px;

    @media (--viewport-phone) {
        flex: 1;
        justify-content: center;
    }
}

.bottomMenuItem {
    flex: 0 0 50%;
    max-width: 50%;
    padding: 6px 8px;
    font-size: 12px;
    white-space: nowrap;
    display: inline-flex;
    align-items: center;

    & a {
        color: #676f78;
    }

    @media (--viewport-phone) {
        flex: none;
    }
}

.countryItem {
    display: inline-block;
}

.countryLink {
    display: inline-block;
    padding: 10px;
    color: var(--color-font);
    font-size: 10px;
    letter-spacing: 2.5px;
    text-transform: uppercase;
    text-indent: 3px;

    &:hover,
    &:focus {
        color: var(--color-font);
        font-weight: 600;
        letter-spacing: 2.4px;
    }

    &.active {
        border: 1px solid var(--color-border);
    }

    @media (--viewport-ipad) {
        font-size: 12px;
    }
}

.socials {
    width: 125px;

    @media (min-width: 500px) {
        width: 150px;
    }
}
