.root {
    background: var(--color-background);
}

.row {
    display: flex;
    align-items: center;
    height: 50px;
    padding: 0 22px;
}

.button {
    width: 20px;
    height: 20px;

    @media (--viewport-tablet) {
        display: none;
    }
}

.burgerIcon {
    display: block;
    width: inherit;
    height: inherit;
    min-height: inherit;
    max-height: inherit;

    &.open {
        & rect:nth-child(2) {
            opacity: 0;
        }

        & rect:nth-child(2) {
            transition: opacity 50ms ease;
        }

        & rect:nth-child(3) {
            transform: rotate(-45deg) scaleX(1) translate(-1px);
            transform-origin: left center;
        }

        & rect {
            transition: transform 0.2s ease;
        }

        & rect:first-child {
            transform: rotate(43deg) scaleX(1) translate(0);
        }
    }
}

.open {
}

.content {
    position: relative;
    z-index: 970;

    @media (--viewport-tablet) {
        padding-top: 12px;
    }
}

.item {
    flex: 1;
}

.logoLink {
    display: block;
    max-width: 35px;
    margin: 0 auto;

    @media (--viewport-ipad) {
        max-width: 190px;
    }
}

.logo {
    display: none;
    width: inherit;
    height: inherit;

    @media (--viewport-ipad) {
        display: block;
    }
}

.mobileLogo {
    display: block;
    width: inherit;
    height: inherit;

    @media (--viewport-ipad) {
        display: none;
    }
}
