.root {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    font-size: var(--font-size-base);
    border: 1px solid #d2d6d9;
    border-radius: 1px;
    padding: 18px 24px;
    background: var(--color-background);
    transition: border-color 0.2s ease;
}

.pointer {
    cursor: pointer;
}

.body {
    flex: 1;
}

.title {
    font-weight: var(--font-weight-bold);
}

.description {
    margin-top: 5px;
    font-size: var(--font-size-small);
}

.actions {
    margin-left: auto;

    & > * + * {
        margin-left: 5px;
    }
}

.active {
    border-color: var(--color-primary);
}
