.root {
    display: flex;
    align-items: center;
    overflow: hidden;
    background: var(--color-background);
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.25s ease-in-out;

    &:hover {
        box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.15);
    }
}

.image {
    flex: 1 1 auto;
    width: 125px;
    max-width: 125px;
    height: 125px;

    @media (--viewport-desktop) {
        width: 200px;
        max-width: 200px;
        height: 200px;
    }
}

.body {
    flex: 2 1 auto;
    padding-right: 10px;
    padding-left: 24px;
}

.title {
    font-weight: var(--header-font-weight);
    font-size: var(--font-size-base);
    line-height: var(--headings-line-height);

    @media (--viewport-desktop) {
        font-size: 20px;
    }
}

.subtitle {
    color: #676f78;
    font-size: var(--font-size-base);
    line-height: 1.6;

    @media (--viewport-desktop) {
        font-size: var(--font-size-large);
    }
}

.meta {
    margin-top: 0;
    margin-bottom: 0;
    color: #676f78;
    font-weight: var(--font-weight-bold);
    font-size: 10px;
    line-height: calc(100% + 10px);
    letter-spacing: 2.5px;
    text-transform: uppercase;

    @media (--viewport-desktop) {
        font-size: var(--font-size-extra-small);
    }
}
