.root {
    width: 83.3333%;
    margin: 0 auto;
    text-align: center;

    @media (--viewport-desktop) {
        text-align: left;
    }
}

.image {
    text-align: center;
}

.body {
    display: grid;
    grid-gap: 36px;
    margin-top: 48px;

    @media (--viewport-desktop) {
        grid-gap: 48px;
        grid-template-columns: 45% 33.33333%;
        justify-content: center;
    }
}

.title {
    margin-bottom: 12px;
    color: var(--color-font);
    font-weight: var(--headings-font-weight);
    font-size: 24px;
    font-family: var(--headings-font);
    line-height: var(--headings-line-height);

    @media (--viewport-ipad) {
        font-size: 30px;
    }

    @media (--viewport-desktop) {
        font-size: 34px;
    }

    @media (--viewport-wide) {
        font-size: 40px;
    }
}

.text {
    color: #676f78;
    font-size: var(--font-size-base);
    line-height: calc(1em + 10px);

    @media (--viewport-ipad) {
        font-size: var(--font-size-base);
    }

    @media (--viewport-desktop) {
        font-size: var(--font-size-large);
    }
}

.label {
    margin-bottom: 6px;
    color: #676f78;
    font-weight: var(--font-weight-bold);
    font-size: 10px;
    line-height: calc(100% + 10px);
    letter-spacing: 2.5px;
    text-transform: uppercase;

    @media (--viewport-desktop) {
        font-size: var(--font-size-extra-small);
    }
}

.value {
    margin-top: 0;
    margin-bottom: 18px;
    color: #a1a4a6;
    font-weight: 200;
    font-size: var(--font-size-base);
    font-family: var(--headings-font);
    font-style: italic;
    line-height: calc(100% + 10px);

    @media (--viewport-desktop) {
        font-size: var(--font-size-large);
    }
}

.buttonDesktop {
    display: none;

    @media (--viewport-desktop) {
        display: block;
        margin-top: 24px;
    }
}

.buttonMobile {
    @media (--viewport-desktop) {
        display: none;
    }
}
