.root {
    position: relative;
    padding-bottom: 36px;
    padding-left: 24px;
    text-align: left;
    border-left: 1px solid #d2d6d9;

    &::after {
        position: absolute;
        top: 10px;
        left: -4.5px;
        width: 8px;
        height: 8px;
        background: #d2d6d9;
        border-radius: 50%;
        box-shadow: 0 0 0 10px #fff;
        content: '';
    }

    @media (--viewport-ipad) {
        padding: 0;
        text-align: center;
        border-left-width: 0;

        &::after {
            content: none;
        }
    }
}

.image {
    display: none;
    max-width: 160px;
    margin-bottom: 24px;

    @media (--viewport-ipad) {
        display: inline-block;
    }
}

.title {
    margin-bottom: 6px;
    font-weight: var(--headings-font-weight);
    font-size: var(--font-size-large);

    @media (--viewport-desktop) {
        font-size: 20px;
    }
}

.text {
    color: #676f78;
    font-size: var(--font-size-base);

    @media (--viewport-desktop) {
        font-size: var(--font-size-large);
    }
}
