.productDetails {
    display: flex;
    flex-wrap: wrap;
    padding: 0 18px;

    @media (--viewport-desktop) {
        align-content: center;
        align-items: center;
        padding: 48px 24px;
    }
}

.carouselWrapper {
    flex: 0 0 100%;
    max-width: 100%;
    margin: 0 auto 20px;

    @media (--viewport-desktop) {
        flex: 0 0 70%;
        max-width: 70%;
        margin: 0;
        padding: 0 24px;
    }

    @media (--viewport-wide) {
        padding: 0 35px;
    }
}

.meta {
    flex: 0 0 100%;
    max-width: 100%;
    margin-bottom: 48px;
    text-align: center;

    @media (--viewport-desktop) {
        flex: 0 0 30%;
        max-width: 30%;
        padding: 0 24px;
        margin: 0;
        text-align: left;
    }

    @media (--viewport-wide) {
        padding: 0 35px;
    }
}

.colorsWrapper {
    display: inline-block;
    margin-bottom: 24px;
}

.buttons {
    display: inline-grid;
    grid-gap: 8px;
    margin-top: 24px;

    @media (--viewport-phone) {
        grid-template-columns: repeat(2, 1fr);
    }

    @media (--viewport-desktop) {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 12px;
        margin: 18px 0 12px;
    }
}

.styledButton {
    width: 100%;

    @media (--viewport-desktop) {
        width: 284px;
    }
}

.info {
    margin-bottom: 12px;
    color: #676f78;
    font-size: var(--font-size-base);
    line-height: 1.625;
}

.price {
    margin-bottom: 12px;
    color: var(--color-primary);
    font-weight: var(--font-weight-bold);
    font-size: var(--font-size-base);
}

.title {
    margin-top: 0;
    margin-bottom: 6px;
    color: var(--color-font);
    font-weight: var(--headings-font-weight);
    font-size: 24px;
    font-family: var(--headings-font);
    line-height: var(--headings-line-height);

    @media (--viewport-ipad) {
        font-size: 30px;
    }

    @media (--viewport-desktop) {
        margin: 0;
        font-size: 34px;
    }

    @media (--viewport-wide) {
        font-size: 40px;
    }
}

.description {
    margin-bottom: 18px;
    color: #676f78;
    font-family: var(--font-serif);
    font-style: italic;

    @media (--viewport-ipad) {
        font-size: var(--font-size-large);
    }
}

.section {
    margin: 72px 0;
}

.sectionTitle {
    margin-top: 0;
    margin-bottom: 36px;
    color: var(--color-font);
    font-weight: var(--headings-font-weight);
    font-size: 30px;
    font-family: var(--headings-font);
    line-height: var(--headings-line-height);
    text-align: center;

    @media (--viewport-ipad) {
        text-align: left;
    }
}

.center {
    text-align: center;
}

.tags {
    margin: 0;
    padding: 72px 0;
    box-shadow: 0 -24px 24px -24px rgba(43, 52, 62, 0.08);
}

.related {
    display: flex;
    flex-wrap: wrap;
}

.relatedProduct {
    flex: 0 0 100%;
    max-width: 100%;
    padding: 0 15px;

    @media (--viewport-ipad) {
        flex: 0 0 33.333333%;
        max-width: 33.333333%;
    }
}
