.root {
    padding: 48px 24px;

    @media (--viewport-desktop) {
        display: grid;
        grid-template-columns: 60% 40%;
        grid-gap: 60px;
    }
}

.carouselWrapper {
    max-height: 428px;
    margin: 0 auto 20px;

    @media (--viewport-ipad) {
        max-width: 732px;
    }

    @media (--viewport-desktop) {
        margin: 0;
    }
}

.slide {
    display: flex;
}

.slideImage {
    max-height: 250px;
    margin: auto;

    @media (--viewport-desktop) {
        /* max-width: 70%; */
        max-height: 100%;
    }
}

.meta {
    margin-bottom: 48px;
    text-align: center;

    @media (--viewport-desktop) {
        margin: 0;
        text-align: left;
    }
}

.colorsWrapper {
    display: inline-block;
    margin-bottom: 24px;
}

.buttons {
    margin-top: 24px;

    @media (--viewport-desktop) {
        margin: 18px 0 12px;
    }
}

.styledButton {
    width: 100%;

    @media (--viewport-desktop) {
        width: 284px;
    }
}

.info {
    margin-bottom: 12px;
    color: #676f78;
    font-size: var(--font-size-base);
    line-height: 1.625;
}

.title {
    margin-top: 0;
    margin-bottom: 6px;
    color: var(--color-font);
    font-weight: var(--headings-font-weight);
    font-size: 24px;
    font-family: var(--headings-font);
    line-height: var(--headings-line-height);

    @media (--viewport-ipad) {
        font-size: 30px;
    }

    @media (--viewport-desktop) {
        margin: 0;
        font-size: 34px;
    }
}

.description {
    margin: 4px 0 18px;
    color: #676f78;
    font-family: var(--font-serif);
    font-style: italic;

    @media (--viewport-ipad) {
        font-size: 18px;
    }
}

.section {
    margin: 72px 0;
}

.sectionTitle {
    margin-top: 0;
    margin-bottom: 36px;
    color: var(--color-font);
    font-weight: var(--headings-font-weight);
    font-size: 30px;
    font-family: var(--headings-font);
    line-height: var(--headings-line-height);
    text-align: center;

    @media (--viewport-ipad) {
        text-align: left;
    }
}

.center {
    text-align: center;
}

.related {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
}

.relatedProduct {
    flex: 1;
    padding: 0 15px;
}
