.carouselWrapper {
    max-height: 428px;
    margin-bottom: 20px;
}

.slide {
    display: flex;
}

.slideImage {
    max-height: 100px;
    margin: auto;

    @media (--viewport-desktop) {
        max-width: 70%;
        max-height: 428px;
    }
}

.meta {
    margin-bottom: 48px;
    text-align: center;
}

.colorsWrapper {
    display: inline-block;
}

.buttons {
    margin: 18px 0 12px;
}

.styledButton {
    width: 100%;

    @media (--viewport-desktop) {
        width: 284px;
    }
}

.info {
    margin: 24px 0 10px;
    color: #676f78;
    font-size: 16px;
    line-height: calc(1em + 10px);
}

.title {
    margin-top: 0;
    margin-bottom: 12px;
    color: var(--color-font);
    font-weight: 600;
    font-size: 24px;
    font-family: var(--font-serif);
    line-height: 1.2;

    @media (--viewport-ipad) {
        font-size: 30px;
    }

    @media (--viewport-desktop) {
        font-size: 34px;
    }
}

.description {
    margin-top: 4px;
    color: #a1a4a6;
    font-weight: var(--font-serif);
    font-style: italic;

    @media (--viewport-ipad) {
        font-size: 18px;
    }
}

.section {
    margin: 72px 0;
}

.sectionTitle {
    margin-top: 0;
    margin-bottom: 36px;
    color: var(--color-font);
    font-weight: 600;
    font-size: 30px;
    font-family: var(--font-serif);
    line-height: 1.2;
    text-align: center;
}
