.root {
    display: flex;
    justify-content: flex-end;
    height: 100%;
    list-style: none;
}

.item {
    position: relative;
    display: inline-flex;
    align-items: flex-start;
    justify-content: center;
    box-sizing: border-box;
    text-align: center;

    &:not(:last-child) {
        margin-right: 20px;
    }

    @media (--viewport-tablet) {
        &:hover {
            & .dropdown {
                display: block;
            }

            & .submenu {
                height: auto;
                padding-top: 0.9375rem;
                overflow: visible;
                border: 0.0625rem solid #ccc;
                border-radius: 0.125rem;
            }
        }
    }
}

.link {
    position: relative;
    display: block;
    padding: 0;
    color: #666;
    font: inherit;
    text-decoration: none;
    background: none;
    border: 0;
}

.icon {
    display: inline-flex;
    justify-content: center;
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.label {
    display: none;
    font-size: 12px;
    text-transform: capitalize;

    @media (--viewport-tablet) {
        display: block;
        white-space: nowrap;
    }
}

.submenu {
    position: absolute;
    top: 100%;
    left: -50%;
    z-index: 4;
    width: 300%;
    height: 0;
    margin-top: 0.125rem;
    overflow: hidden;
    text-align: left;
    background: var(--color-white);
}
