.root {
    display: flex;
    list-style: none;
    justify-content: flex-end;
    height: 100%;
}

.item {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
    box-sizing: border-box;

    &:not(:last-child) {
        margin-right: 20px;
    }

    @media (--viewport-tablet) {
        &:hover {
            & .dropdown {
                display: block;
            }

            & .submenu {
                height: auto;
                border: 0.0625rem solid #ccc;
                overflow: visible;
                border-radius: 0.125rem;
                padding-top: 0.9375rem;
            }
        }
    }
}

.link {
    font: inherit;
    background: none;
    border: 0;
    padding: 0;
    text-decoration: none;
    color: #666;
    display: block;
    position: relative;
}

.icon {
    display: inline-flex;
    justify-content: center;
    cursor: pointer;
    width: 20px;
    height: 20px;
}

.label {
    font-size: 12px;
    text-transform: capitalize;
    display: none;

    @media (--viewport-tablet) {
        white-space: nowrap;
        display: block;
    }
}

.submenu {
    z-index: 4;
    height: 0;
    position: absolute;
    text-align: left;
    background: var(--color-white);
    overflow: hidden;
    width: 300%;
    left: -50%;
    top: 100%;
    margin-top: 0.125rem;
}
