.columns {
    padding: 0 18px;
    column-count: 2;
    column-gap: 96px;

    @media (min-width: 960px) {
        column-count: 3;
        column-gap: 84px;
    }
}

.row {
    display: flex;
    flex-wrap: wrap;

    & .column {
        flex: 1;
        min-width: 290px;
        margin-left: 15px;
        margin-right: 15px;
    }
}

.column {
    display: inline-block;
    margin-top: 36px;
}

.region {
    margin-bottom: 12px;
    font-weight: var(--headings-font-weight);
    font-family: var(--headings-font);
    line-height: var(--headings-line-height);

    @media (--viewport-ipad) {
        font-size: 24px;
    }

    @media (--viewport-desktop) {
        font-size: 26px;
    }
}

.title {
    margin: 0;
    color: var(--color-font);
    font-weight: var(--font-weight-bold);
    font-size: var(--font-size-large);
    line-height: calc(1em + 10px);
}

.text {
    margin-bottom: 24px;
    color: #676f78;
    font-size: var(--font-size-base);
    line-height: calc(1em + 10px);

    @media (--viewport-desktop) {
        font-size: var(--font-size-large);
    }
}
