.list {
    position: relative;
    padding: 24px 18px 12px 0;
    border-bottom: 1px solid #e4e6e8;

    @media (--viewport-tablet) {
        padding-right: 24px;
    }

    @media (--viewport-wide) {
        padding-right: 12px;
    }
}

.listItem {
    position: relative;
    margin-bottom: 12px;
    color: #676f78;
    font-size: var(--font-size-small);
    line-height: 20px;
    list-style: none;
    padding-left: 12px;

    @media (--viewport-desktop) {
        padding-left: 24px;
    }

    @media (--viewport-wide) {
        padding-left: 12px;
    }

    &.check {
        padding-left: 46px;

        &::before {
            position: absolute;
            top: 4px;
            left: 19px;
            width: 14px;
            height: 11px;
            background: no-repeat
                url(data:image/svg+xml;charset=utf-8;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHdpZHRoPScxNCcgaGVpZ2h0PScxMCcgdmVyc2lvbj0nMSc+PHBhdGggZmlsbD0nbm9uZScgc3Ryb2tlPScjNDE0QjU2JyBzdHJva2UtbGluZWNhcD0ncm91bmQnIHN0cm9rZS1saW5lam9pbj0ncm91bmQnIGQ9J00yIDVsMyA0IDgtOCcvPjwvc3ZnPg==)
                0 0 / contain;
            content: '';

            @media (--viewport-wide) {
                left: 13px;
            }
        }

        @media (--viewport-tablet) {
            padding-left: 52px;
        }

        @media (--viewport-wide) {
            padding-left: 40px;
        }
    }
}

.pricing {
    margin-bottom: 24px;
    padding: 8px 18px 0;
    font-weight: 600;
    font-size: 14px;
    line-height: 1.63;

    @media (--viewport-wide) {
        padding: 8px 12px 0;
    }
}

.reverse {
    display: flex;
    flex-direction: column-reverse;

    @media (--viewport-wide) {
        flex-direction: column;
    }
}

.pricingItem {
    display: flex;
    margin: 16px 0;
}

.pricingValue {
    margin-left: auto;
    white-space: nowrap;
}

.coupon {
    display: flex;
    margin: 16px 18px;

    @media (--viewport-wide) {
        margin: 16px 0;
    }
}

.actions {
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    margin: 0 auto;
    padding: 18px;
    background-color: var(--color-background);
    box-shadow: 0 -2px 7px 0 rgba(228, 230, 232, 0.35);

    @media (--viewport-wide) {
        position: static;
        padding: 0;
        box-shadow: none;
    }
}

.actionsInner {
    max-width: 339px;
    margin: 0 auto;

    @media (--viewport-tablet) {
        max-width: 660px;
    }
}
