.root {
    text-align: center;
}

.imageWrapper {
    display: block;
    padding: 0 2.43%;
    height: 120px;
}

.image {
    max-height: 120px;
}

.title {
    font-size: 24px;
    margin-bottom: 6px;
    margin-top: 24px;
    font-weight: 600;
    font-family: var(--font-serif);
    line-height: calc(1em + 6px);
}

.colors {
    display: flex;
    justify-content: center;
    position: relative;
    padding: 0 30px;
    box-sizing: border-box;
    min-height: 40px;
}

.fave {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    width: 21px;
    height: 21px;
}
