.root {
    text-align: center;
    cursor: pointer;
}

.imageWrapper {
    display: block;
    padding: 0 2.43%;
}

.image {
    max-height: 180px;
}

.name {
    margin: 24px 0 6px;
    font-weight: var(--headings-font-weight);
    font-size: 24px;
    font-family: var(--headings-font);
    line-height: var(--headings-line-height);
}

.subname {
    font-size: var(--font-size-large);
    font-style: italic;
    font-family: var(--font-serif);
    line-height: var(--text-line-height);
    color: #a1a4a6;
}

.colors {
    position: relative;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    min-height: 40px;
    padding: 0 30px;
}

.fave {
    position: absolute;
    top: 50%;
    right: 0;
    width: 21px;
    height: 21px;
    transform: translateY(-50%);
}

.button {
    height: 34px;
    margin: 18px auto 0;
    padding: 0 16px;
    font-weight: 600;
    font-size: 16px;
    background-color: #eff3f5;
    border-radius: 100px;
}
