.root {
    text-align: center;
}

.imageWrapper {
    display: block;
    padding: 0 2.43%;
}

.image {
    max-height: 180px;
}

.title {
    margin: 24px 0 6px;
    font-size: 24px;
    font-weight: var(--headings-font-weight);
    font-family: var(--headings-font);
    line-height: var(--headings-line-height);
}

.colors {
    position: relative;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    min-height: 40px;
    padding: 0 30px;
}

.fave {
    position: absolute;
    top: 50%;
    right: 0;
    width: 21px;
    height: 21px;
    transform: translateY(-50%);
}
