.root {
    display: flex;
    flex-direction: column;
}

.body {
    flex: 1;
    padding: 0 24px;
    color: #676f78;
    background-color: var(--color-white);

    @media (--viewport-ipad) {
        padding: 0 36px;
    }
}

.image {
    width: 100%;
}

.title {
    display: inline-block;
    margin-top: 18px;
    padding-bottom: 2px;
    padding-left: 2px;
    font-weight: var(--font-weight-bold);
    font-size: var(--font-size-extra-small);
    line-height: calc(1em + 10px);
    letter-spacing: 2.5px;
    text-transform: uppercase;
    border-bottom: 2px solid #c6e2f7;
}

.text {
    margin-top: 18px;
    margin-bottom: 30px;
    font-size: var(--font-size-base);
    line-height: calc(1em + 10px);

    @media (--viewport-desktop) {
        font-size: var(--font-size-large);
    }
}

.actions {
    margin-bottom: 36px;
}
