.wrapper {
    position: relative;
}

.carousel {
    width: 80%;
    margin: 0 auto;

    @media (--viewport-wide) {
        width: 100%;
    }
}

.nav {
    display: none;

    @media (--viewport-desktop) {
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
    }
}

.prevArrow,
.nextArrow {
    position: absolute;
    top: 50%;
    z-index: 2;
    width: 20px;
    height: 32px;
    margin-top: -32px;
    padding: 0;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: contain;
    border: none;
    outline: none;
    cursor: pointer;

    @media (--viewport-wide) {
        position: relative;
        top: auto;
        width: auto;
        width: 50%;
        height: auto;
        height: 100%;
        margin: 0;
    }
}

.prevArrow {
    left: 0;
    background-image: url('./arrows/left.svg');

    @media (--viewport-wide) {
        background: none;
        cursor: url(./cursors/left.svg), w-resize;
    }
}

.nextArrow {
    right: 0;
    background-image: url('./arrows/right.svg');

    @media (--viewport-wide) {
        background: none;
        cursor: url(./cursors/right.svg), e-resize;
    }
}
