.wrapper {
    text-align: center;

    @media (--viewport-tablet) {
        border-bottom: 1px solid #ebeff2;
    }

    &.expanded {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 980;
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
        overflow-x: auto;
        background-color: var(--color-white);

        @media (--viewport-tablet) {
            position: static;
        }
    }
}

.inner {
    flex: 1;
    padding: 20px 15px 10px;
    background-color: var(--color-white);

    @media (--viewport-tablet) {
        padding: 20px 0 10px;
    }
}

.tabs {
    display: none;
    margin: 0 auto 10px;
    padding: 6px;
    background-color: #f8f8f8;

    @media (--viewport-tablet) {
        display: inline-flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        width: auto;
        padding: 8px 4px;
    }

    &.expanded {
        display: inline-flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }
}

.tab {
    margin: 6px 0;
    padding: 3px 10px;
    overflow: hidden;
    color: var(--colorFont);
    font-size: var(--font-size-extra-small);
    line-height: 12px;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-overflow: ellipsis;
    background: none;
    border: 0;
    border-right: 1px solid #d2d6d9;
    cursor: pointer;
    transition: color 0.1s;
    user-select: none;

    &:last-child {
        border: 0;
    }

    &::after {
        display: block;
        height: 1px;
        margin-bottom: -1px;
        overflow: hidden;
        font-weight: var(--font-weight-bold);
        visibility: hidden;
        content: attr(data-name);
    }

    &.inactive {
        color: #a1a4a6;
        font-weight: 400;
    }

    &.active {
        color: var(--color-font);
        font-weight: var(--font-weight-bold);
    }

    @media (--viewport-ipad) {
        padding-right: 24px;
        padding-left: 24px;
    }
}

.tabWrapper {
    @media (--viewport-tablet) {
        position: relative;
        height: 100%;
        max-height: 0;
        padding-top: 0;
        overflow: hidden;
        transition: max-height 0.3s ease-in-out, padding-top 0.3s ease-in-out;

        &.active {
            max-height: 100%;
            padding-top: 150px;
        }
    }
}

.tabContent {
    display: none;

    &.active {
        display: block;
    }

    @media (--viewport-tablet) {
        position: absolute;
        top: 0;
        top: 50%;
        right: 0;
        left: 0;
        height: 72px;
        transform: translateY(-50%);
        visibility: hidden;
        opacity: 0;
        transition: opacity 0.2s ease-in-out 0.2s;

        &.active {
            visibility: visible;
            opacity: 1;
        }
    }
}

.tabContentItems {
    text-align: left;

    @media (--viewport-tablet) {
        text-align: center;
    }
}

.selectedFilter {
    height: 40px;
    justify-content: center;
    align-items: center;
    display: none;

    @media (--viewport-tablet) {
        display: flex;
    }
}

.selectedFilterValue {
    font-size: var(--font-size-extra-small);
    color: #676f78;
}

.selectedFilterButton {
    border: none;
    outline: none;
    background: 0 0;
    padding: 1px 7px 2px;
    font-weight: var(--font-weight-bold);
    color: #0089bf;
    font-size: var(--font-size-extra-small);
}

.filterItem {
    flex: 1;
    margin-top: 4px;
    margin-bottom: 48px;

    @media (--viewport-tablet) {
        display: inline-block;
        margin-right: 36px;
        margin-bottom: 0;
    }
}

.buttons {
    @media (--viewport-tablet) {
        display: none;
    }

    &.expanded {
        display: none;
    }
}

.button {
    margin: 0 6px;
    font-size: 14px;
    border-color: #d2d6d9;
    border-radius: 1px;
}

.buttonIcon {
    margin-right: 6px;
    stroke: #a1a4a6;
}

.modal {
    display: flex;
    padding: 32px 15px 0;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;

    &.expanded {
        visibility: visible;
        opacity: 1;
    }

    @media (--viewport-tablet) {
        display: none;
    }
}

.modalHeader {
    margin: 0;
    font-weight: 400;
    font-size: 20px;
    font-family: var(--headings-font);
    line-height: var(--headings-line-height);
    text-align: left;
}

.modalClose {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    margin-left: auto;
    cursor: pointer;
}

.modalFooter {
    display: none;
    background-color: #f8f8f8;
    border-top: 1px solid #ebeff2;
    box-shadow: inset 0 0 0 1px var(--color-white);

    &.expanded {
        display: flex;

        @media (--viewport-tablet) {
            display: none;
        }
    }
}

.modalButton {
    margin: 12px 18px;
    padding: 12px 18px;
}

.resetButton {
    text-decoration: underline;
    border: none;
}
