@font-face {
    font-display: swap;
    font-family: utopia-std;
    src: url('./UtopiaStd-Regular.woff2') format('woff2'), url('./UtopiaStd-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
