.root {
    color: var(--color-primary);
    font-weight: var(--font-weight-bold);
    transition: color 0.2s ease;

    &:hover,
    &:focus {
        color: color(var(--color-primary) shade(15%));
    }
}
