.title {
    margin-bottom: 18px;
    color: var(--color-font);
    font-size: 20px;
    font-weight: var(--headings-font-weight);
    font-family: var(--headings-font);
    line-height: var(--headings-line-height);
}

.text {
    margin-bottom: 18px;
    color: #676f78;
    font-size: 14px;

    & p {
        margin: 0 0 5px;
        line-height: 1.6;
    }
}

.items {
    display: flex;
    justify-content: space-around;
    width: 75%;
    margin: 0 auto;
}

.item {
    display: flex;
    flex-direction: column;
}

.icon {
    width: 34px;
    height: 34px;
}

.itemTitle {
    margin-top: 4px;
    font-size: 14px;
}
