.root {
    padding: 60px 18px;

    @media (--viewport-ipad) {
        padding-right: 36px;
        padding-left: 36px;
    }

    @media (--viewport-desktop) {
        padding-right: 48px;
        padding-left: 48px;
    }

    @media (--viewport-wide) {
        padding-right: 60px;
        padding-left: 60px;
    }
}

.row {
    display: grid;
    grid-gap: 78px 24px;

    @media (--viewport-ipad) {
        grid-template-columns: repeat(2, 1fr);
    }

    @media (--viewport-desktop) {
        grid-gap: 48px;
        grid-template-columns: repeat(3, 1fr);
    }
}

.showMore {
    text-align: center;
}
