.root {
    margin-bottom: 18px;
    color: var(--color-font);
    font-weight: var(--headings-font-weight);
    font-size: 24px;
    font-family: var(--headings-font);
    line-height: var(--headings-line-height);

    @media (--viewport-tablet) {
        font-size: 30px;
    }

    @media (--viewport-desktop) {
        font-size: 34px;
    }
}
