.body {
    margin-top: 48px;
}

.title {
    color: var(--color-font);
    font-weight: var(--headings-font-weight);
    font-family: var(--headings-font);
    line-height: var(--headings-line-height);
    text-align: center;

    @media (--viewport-ipad) {
        margin-bottom: 16px;
        font-size: 30px;
    }

    @media (--viewport-desktop) {
        margin-bottom: 12px;
        font-size: 34px;
    }
}

.subTitle {
    text-align: center;
    font-size: 20px;
    margin: 0;
}
