.body {
    margin-top: 48px;
}

.title {
    color: #414b56;
    font-weight: var(--headings-font-weight);
    font-family: var(--headings-font);
    line-height: var(--headings-line-height);
    text-align: center;

    @media (--viewport-ipad) {
        margin-bottom: 16px;
        font-size: 30px;
    }

    @media (--viewport-desktop) {
        margin-bottom: 12px;
        font-size: 34px;
    }
}

.filter {
    display: flex;
    justify-content: center;
    margin-bottom: 48px;
}
