@font-face {
    font-weight: 600;
    font-family: proxima-nova;
    font-style: normal;
    src: url('./ProximaNova-Semibold.woff2') format('woff2'),
        url('./ProximaNova-Semibold.woff') format('woff');
    font-display: swap;
}

@font-face {
    font-weight: 600;
    font-family: proxima-nova;
    font-style: italic;
    src: url('./ProximaNova-SemiboldIt.woff2') format('woff2'),
        url('./ProximaNova-SemiboldIt.woff') format('woff');
    font-display: swap;
}
