.wrapper {
    margin-bottom: 72px;
    padding: 48px 18px;
    font-size: var(--font-size-large);
    text-align: center;
    background-color: #f4f4f4;
    border-radius: 5px;
}

.title {
    margin: 0 0 24px;
    color: var(--color-font);
    font-weight: var(--headings-font-weight);
    font-size: 30px;
    font-family: var(--headings-font);
    line-height: var(--headings-line-height);
}

.text {
    margin: 0 auto;

    @media (--viewport-desktop) {
        width: 50%;
    }
}
