.wrapper {
    margin-bottom: 72px;
    padding: 48px 18px;
    font-size: 18px;
    text-align: center;
    background-color: #f4f4f4;
    border-radius: 5px;
}

.title {
    margin-top: 0;
    margin-bottom: 24px;
    color: var(--color-font);
    font-weight: 600;
    font-size: 30px;
    font-family: var(--font-serif);
    line-height: 1.2;
}

.text {
    margin: 0 auto;

    @media (--viewport-desktop) {
        width: 50%;
    }
}
