.root {
    position: relative;
    padding: 15px;
    font-size: var(--font-size-base);
    border-bottom: 1px solid #eaecec;
}

.inner {
    position: relative;
    display: flex;

    @media (--viewport-desktop) {
        min-height: 150px;
    }
}

.imageWrapper {
    display: flex;
    flex: none;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    margin-right: 10px;

    & img {
        max-height: 100%;
    }

    @media (--viewport-desktop) {
        width: 120px;
        height: 120px;
    }
}

.info {
    display: flex;
    flex-direction: column;
    padding-top: 7px;
}

.name {
    display: block;
    max-width: 80%;
    height: 40px;
    overflow: hidden;
    line-height: 1.2;

    @media (--viewport-desktop) {
        max-width: 100%;
        height: auto;
        overflow: auto;
    }
}

.description {
    flex-grow: 1;
    margin-top: 7px;
    color: #757575;
}

.tag {
    display: inline-block;
    margin-right: 15px;
}

.footer {
    display: flex;
}

.price {
    color: var(--color-primary);
    font-weight: 500;
}

.amount {
    /* position: absolute;
    top: 7px;
    right: 0; */
    color: #757575;

    @media (--viewport-desktop) {
        position: static;
        margin-right: 10px;
    }
}

.amountSelect {
    color: #757575;
    font-size: var(--font-size-base);
    background: none;
    border: 0;
}

.removeButton {
    position: absolute;
    right: 0;
    width: 20px;
    height: 20px;
    padding: 0;
    background: none;
    border: 0;
    cursor: pointer;
    transition: color 0.2s ease;

    &:hover,
    &:focus {
        color: var(--color-primary);
    }
}
