.root {
    max-width: 1440px;
    margin: 0 auto;
}

.hero {
    position: relative;
}

.heroText {
    margin: 0 auto;
    padding: 36px 18px;
    text-align: center;

    @media (--viewport-ipad) {
        width: 66.66667%;
        font-size: 20px;
    }

    @media (--viewport-desktop) {
        position: absolute;
        top: 50%;
        right: 60px;
        width: 33.33333%;
        transform: translateY(-50%);
    }
}

.heroTitle {
    font-weight: var(--headings-font-weight);
    font-size: 30px;
    font-family: var(--headings-font);

    @media (--viewport-desktop) {
        font-size: 40px;
    }

    @media (--viewport-wide) {
        font-size: 55px;
    }
}

.heroSubtitle {
    margin-bottom: 0;
    color: #676f78;
    font-size: 16px;

    @media (--viewport-ipad) {
        font-size: 18px;
    }

    @media (--viewport-desktop) {
        font-size: 16px;
    }

    @media (--viewport-wide) {
        font-size: 18px;
    }
}

.benefitsSection {
    padding: 60px 0;

    @media (min-width: 600px) {
        padding: 72px 0;
    }
}

.benefitsTitle {
    display: none;
    margin-bottom: 36px;
    text-align: center;

    @media (--viewport-desktop) {
        display: block;
        font-size: 34px;
    }

    @media (--viewport-wide) {
        font-size: 40px;
    }
}

.benefits {
    max-width: 396px;
    margin: 0 auto;
    padding: 0 18px;

    @media (--viewport-ipad) {
        display: grid;
        grid-gap: 12px;
        grid-template-columns: repeat(3, 1fr);
        max-width: 100%;
        padding: 0 36px;
    }

    @media (--viewport-desktop) {
        grid-gap: 18px;
        padding: 0 48px;
    }

    @media (--viewport-wide) {
        padding-right: 60px;
        padding-left: 60px;
    }
}

.sectionActions {
    padding: 48px 0;

    @media (--viewport-desktop) {
        padding: 60px 0;
    }

    @media (--viewport-wide) {
        padding: 72px 0;
    }
}

.sectionTitle {
    margin-bottom: 36px;
    font-size: 24px;
    text-align: center;

    @media (--viewport-ipad) {
        font-size: 30px;
    }

    @media (--viewport-desktop) {
        font-size: 34px;
    }

    @media (--viewport-wide) {
        font-size: 40px;
    }
}

.actionsCols {
    display: flex;
    flex-wrap: wrap;
}

.actionCol {
    flex: 0 0 100%;
    max-width: 100%;
    margin-bottom: 24px;
    padding: 0 12px;

    @media (--viewport-desktop) {
        flex: 0 0 50%;
        max-width: 50%;
        margin: 0;
        padding: 0 18px;
    }

    @media (--viewport-wide) {
        padding: 0 24px;
    }
}

.actionsTitle {
    margin-bottom: 12px;
    font-size: var(--font-size-extra-small);
    letter-spacing: 2.5px;
    text-align: center;
    text-transform: uppercase;
}

.actions {
    display: grid;
    grid-gap: 12px;
    grid-template-columns: 220px;
    justify-content: center;

    @media (--viewport-ipad) {
        grid-template-columns: repeat(2, 220px);
    }

    @media (--viewport-desktop) {
        grid-template-columns: repeat(2, 182px);
    }
}

.sectionFooter {
    text-align: center;
}

.hr {
    margin: 36px 0 48px;

    @media (--viewport-ipad) {
        margin-top: 48px;
    }
}

.showMobile {
    display: block;

    @media (--viewport-desktop) {
        display: none;
    }
}
