.root {
    margin: 0 18px;
    padding: 0 6px 60px;

    @media (--viewport-tablet) {
        margin: 0 32px;
        padding-right: 76px;
        padding-left: 76px;
    }

    @media (--viewport-desktop) {
        padding-bottom: 84px;
    }
}

.items {
    display: grid;
    grid-gap: 48px;

    @media (--viewport-tablet) {
        margin-right: 32px;
        margin-left: 32px;
        padding-right: 76px;
        padding-left: 76px;
    }

    @media (--viewport-desktop) {
        grid-template-columns: repeat(2, 1fr);
        padding-bottom: 84px;
    }
}

.text {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;

    @media (--viewport-desktop) {
        display: block;
        margin-top: 36px;
    }
}

.title {
    margin-bottom: 8px;
    color: var(--color-font);
    font-weight: var(--headings-font-weight);
    font-size: 20px;
    line-height: var(--headings-line-height);

    @media (--viewport-desktop) {
        font-size: 24px;
    }
}

.subTitle {
    margin-bottom: 18px;
    text-align: center;

    @media (--viewport-desktop) {
        text-align: left;
    }
}
