<div style="margin: 38px 0 15px; text-align: center" align="center">
    <a href="https://www.brillenhof.com" style="border: none; color: #02A9E1; text-decoration: none">
        <img
            src="https://www.brillenhof.com/images/logo.png"
            alt="Brillenhof"
            style="
                border: none;
                outline: none;
            "
        />
    </a>
</div>
<div style="border-top-color: #45555F; border-top-style: solid; border-top-width: 1px; margin-bottom: 35px; width: 100%"></div>
