{% extends '@EasyAdmin/default/list.html.twig' %}
{% block search_action %}
    <div class="form-action {{ _action.css_class|default('') }}">
        {% if instashopDataProvider.getName() == 'upload' %}
            <div id="instashop-upload-files"></div>
        {% else %}
            <form method="get" action="/admin/instashop/new/search">
                <div class="input-group">
                    <input class="form-control" type="search" name="query" value="#brillenhof">
                    <span class="input-group-btn">
                        <button class="btn" type="submit" formtarget="{{ _action.target }}">
                            <i class="fa fa-search"></i>
                            <span class="hidden-xs hidden-sm">Поиск изображений в Instagram</span>
                        </button>
                    </span>
                </div>
            </form>
        {% endif %}
    </div>
    {% if instashopDataProvider.getName() == 'upload' %}
        <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/dropzone/5.7.0/basic.min.css">
        <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/dropzone/5.7.0/dropzone.min.css">
        <script src="//cdnjs.cloudflare.com/ajax/libs/dropzone/5.7.0/dropzone.min.js"></script>
        <style>
            .dropzone {
                position: relative;
                background: #eaeaea;
                border: none;
                padding-bottom: 62px;
            }

            .dz-preview.dz-image-preview {
                background: none !important;
            }
        </style>
        <script>
            $(document).ready(function () {
                const DropZoneOptions = {
                    url: '/admin/instashop/new/upload',
                    maxFilesize: 30,
                    maxFiles: 10,
                    acceptedFiles: ".jpeg,.jpg,.png,.gif",
                    addRemoveLinks: true,
                    timeout: 60000,
                    dictDefaultMessage: 'Перетяните сюда файлы для загрузки или нажмите',
                    dictFallbackMessage: "Ваш браузер не поддерживает загрузку drag-and-drop",
                    dictFileTooBig: 'Максимально допустимый размер файла 10 Мбайт',
                    dictInvalidFileType: 'Неверный формат файла',
                    dictResponseError: "Ошибка при загрузке файла",
                    dictUploadCanceled: 'Отменено',
                    dictCancelUpload: "Отменить",
                    dictCancelUploadConfirmation: "Вы действительно хотите отменить загрузку?",
                    dictRemoveFile: "Удалить из списка",
                    dictMaxFilesExceeded: "Достигнут лимит на количествово загруженных файлов",
                    error: function(file, xhr) {
                        $(file.previewElement).addClass("dz-error").find('.dz-error-message span').text(xhr.message);
                    }
                };
                Dropzone.autoDiscover = false;
                $("div#instashop-upload-files").addClass('dropzone').dropzone(DropZoneOptions);
            });
        </script>
    {% endif %}
{% endblock %}
{% block new_action %}{% endblock %}