.root {
    padding: 48px 18px 12px;
    text-align: center;
    background-color: #f8f8f8;

    @media (--viewport-desktop) {
        padding-top: 72px;
    }
}

.title {
    margin-bottom: 24px;
    color: var(--color-font);
    font-weight: var(--headings-font-weight);
    font-size: 24px;
    font-family: var(--headings-font);
    line-height: var(--headings-line-height);

    @media (--viewport-ipad) {
        margin-bottom: 24px;
        font-size: 30px;
    }

    @media (--viewport-desktop) {
        margin-bottom: 48px;
        font-size: 34px;
    }
}

.row {
    display: grid;
    grid-gap: 36px;
    justify-content: center;

    @media (--viewport-desktop) {
        grid-gap: 36px 84px;
        grid-template-columns: repeat(2, 41.66666667%);
    }
}

.card {
    max-width: 600px;
}
