@custom-media --viewport-phone (width >= 480px);
@custom-media --viewport-ipad (width >= 640px);
@custom-media --viewport-tablet (width >= 768px);
@custom-media --viewport-desktop (width >= 960px);
@custom-media --viewport-wide (width >= 1200px);

:root {
    --font-sans-serif: proxima-nova, Helvetica, Verdana, sans-serif;
    --font-serif: Literata, Charter, Georgia, serif;
    --font-size-base: 16px;

    --font-weight-bold: 600;
    --font-size-extra-small: 12px;
    --font-size-small: 14px;
    --font-size-medium: 15px;
    --font-size-large: 18px;

    --headings-font-weight: 600;
    --headings-font: var(--font-serif);
    --headings-line-height: 1.25;
    --text-line-height: 1.3;

    --container-width: 1440px;

    --border-radius: 0;
    --border-radius-small: 0;

    --color-font: #414b56;
    --color-black: #000;
    --color-white: #fff;
    --color-blue: #4475c1;
    --color-green: #93c44e;
    --color-lightgrey: #f2f2f2;
    --color-grey: #ccc;
    --color-darkgrey: #333;
    --color-yellow: #f2d409;
    --color-red: #db0119;
    /* main colors */
    --color-background: var(--color-white);
    --color-border: #d2d6d9;

    --color-primary: #0099d5;
    --color-secondary: #e5e5e5;

    --color-success: var(--color-green);
    --color-info: var(--color-blue);
    --color-warning: #ffa000;
    --color-error: var(--color-red);

    --color-link: var(--color-primary);
}
