*,
*::before,
*::after {
    box-sizing: border-box;
}

b,
strong {
    font-weight: 500;
}

body {
    font: 400 16px/1.5 var(--font-sans-serif);
    color: var(--color-font);
    background: var(--color-background);
}

a:active {
    transition: none;

    &::before {
        transition: none;
    }
}

img {
    display: inline-block;
    vertical-align: middle;
    max-width: 100%;
    height: auto;
}

button {
    background: none;
}
