body {
    color: var(--color-font);
    font: 400 16px/1.5 var(--font-sans-serif);
    background: var(--color-background);
}

a:active {
    transition: none;

    &::before {
        transition: none;
    }
}

img {
    display: inline-block;
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}

button {
    background: none;
}

b,
strong {
    font-weight: 600;
}
