{% block _instashopapproved_instashop_products_widget %}
    {% set image = form.parent.vars.data %}
    {% set products = [] %}
    {% for key, product in image.instashopProducts %}
        {% set products = products|merge([product.id]) %}
    {% endfor %}
    {{ dump(product.all()) }}
    <div class="form-group row">
        <div class="col-sm-10">
            <label for="catalogs"></label>
            <select id="catalogs" multiple="multiple" type="multiple" name="products[]" class="select2 form-control">
                <option></option>
{#                {% for product in product.all() %}#}
{#                    <option value="{{ product.id }}" {% if product.id in image.instashopProducts %} selected {% endif %}>#}
{#                        {{ product.translate(product.currentLocale).name }}#}
{#                    </option>#}
{#                {% endfor %}#}
            </select>
        </div>
    </div>
{% endblock %}