.field {
    position: relative;
    margin: 8px 0 16px;
    text-align: left;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -8px;
    margin-left: -8px;
}

.col {
    position: relative;
    flex: 0 0 100%;
    box-sizing: border-box;
    max-width: 100%;
    padding: 0 8px;

    @media (--viewport-tablet) {
        flex: 0 0 50%;
        max-width: 50%;
    }
}

.col4 {
    position: relative;
    flex: 0 0 100%;
    box-sizing: border-box;
    max-width: 100%;
    padding: 0 8px;

    @media (--viewport-tablet) {
        flex: 0 0 33.33%;
        max-width: 33.33%;
    }
}
