.empty {
    width: 65%;
    margin: 60px auto;
    text-align: center;

    @media (--viewport-desktop) {
        width: 41.66667%;
    }

    @media (--viewport-wide) {
        width: 33.33333%;
    }
}

.title {
    @media (--viewport-wide) {
        font-size: 40px;
    }
}

.actions {
    display: grid;
    grid-gap: 15px;

    @media (--viewport-tablet) {
        grid-template-columns: repeat(2, 1fr);
    }
}

.benefitsSection {
    background-color: #f8f8f8;
}
