.root {
    background-color: #f8f8f8;
}

.container {
    max-width: 1260px;
    margin: 0 auto;
    padding: 24px 18px;

    @media (--viewport-tablet) {
        padding-top: 36px;
    }

    @media (--viewport-wide) {
        padding-top: 48px;
    }
}

.header {
    margin-bottom: 12px;
}

.title {
    font-weight: var(--headings-font-weight);
    font-size: 24px;
    font-family: var(--headings-font-family);
    line-height: var(--headings-line-height);
    text-align: center;

    @media (min-width: 900px) {
        font-size: 30px;
    }

    @media (min-width: 1200px) {
        text-align: left;
    }
}

.body {
    display: grid;
    grid-template-columns: 3fr 1fr;
}

.products {
}

.sidebar {
    @media (--viewport-wide) {
        position: sticky;
        top: 3%;
        left: 0;
        margin-bottom: 12px;
    }
}
