.root {
}

.grey {
    background-color: #f8f8f8;
}

.container {
    max-width: 1260px;
    margin: 0 auto;
    padding: 24px 18px;

    @media (--viewport-tablet) {
        padding-top: 36px;
    }

    @media (--viewport-wide) {
        padding-top: 48px;
    }
}

.containerSmall {
    max-width: 400px;
    margin: 0 auto;
    text-align: center;
}

.header {
    margin-bottom: 12px;
}

.title {
    font-weight: var(--headings-font-weight);
    font-size: 24px;
    font-family: var(--headings-font);
    line-height: var(--headings-line-height);
    text-align: center;

    @media (min-width: 900px) {
        font-size: 30px;
    }

    @media (min-width: 1200px) {
        text-align: left;
    }
}

.products {
}

.sidebar {
    @media (--viewport-wide) {
        position: sticky;
        top: 3%;
        left: 0;
        margin-bottom: 12px;
    }
}

.firstStepBody {
    max-width: 660px;
    margin: 0 auto;

    @media (--viewport-wide) {
        display: grid;
        grid-gap: 72px;
        grid-template-columns: 3fr 1fr;
        /* for sticky sidebar */
        align-items: flex-start;
        max-width: 100%;
    }
}

.block {
    margin-bottom: 56px;
}

.blockTitle {
    margin-bottom: 24px;
    font-size: 20px;
}

.orderBlock {
    padding: 30px 20px 24px;
    background-color: #f8f8f8;

    @media (--viewport-ipad) {
        padding-right: 36px;
        padding-left: 36px;
    }
}

.orderBlockInfo {
    padding-bottom: 24px;
}

.orderBlockList {
}

.orderBlockListItem {
    display: flex;
    justify-content: space-between;
    padding-bottom: 8px;
}

.orderBlockListKey {
    color: #a1a4a6;
    font-weight: var(--font-weight-bold);
    font-size: var(--font-size-extra-small);
    letter-spacing: 3px;
    text-transform: uppercase;
}

.orderBlockListValue {
    color: #676f78;
    font-size: var(--font-size-base);
    white-space: nowrap;
    text-align: right;
}

.orderBlockFooter {
    display: flex;
    justify-content: space-between;
    padding: 12px 0;
    font-weight: var(--font-weight-bold);
    font-size: var(--font-size-large);
    border-top: 1px solid #d2d6d9;
}

.dialogInner {
    height: 100%;
    max-height: 100%;

    @media (--viewport-phone) {
        max-height: calc(100% - 96px);
    }

    @media (--viewport-wide) {
        max-height: 500px;
    }
}

.dialogContent {
    padding: 0;
    /* for safari */
    height: 100%;
}
