.wrapper {
    position: relative;
    width: 100%;
    overflow: hidden;

    &:hover {
        & .nav {
            opacity: 1;
            pointer-events: auto;
        }
    }
}

.items {
    position: relative;
    top: 0;
}

.item {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0;
    transition: opacity 1s ease-in-out;

    &:first-child {
        position: relative;
    }
}

.active {
    opacity: 1;
}

.nav {
    width: 100%;
    opacity: 0;
    transition: opacity 0.25s ease;
    pointer-events: none;
}

.arrow {
    position: absolute;
    top: 50%;
    z-index: 2;
    width: 30px;
    height: 44px;
    margin-top: -22px;
    padding: 0;
    font-size: 0;
    line-height: 0;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: contain;
    border: none;
    outline: none;
    cursor: pointer;
    transition: all 0.2s ease;

    &.right {
        right: 25px;
    }

    &.left {
        left: 25px;
    }
}
