.main {
    background: rgb(233, 247, 255);
    transition: background 0.5s ease 0s;
}

.mainText {
    width: 77%;
    max-width: 665px;
    margin: 0 auto;
    padding: 125px 0;
    color: var(--color-font);
    font-weight: var(--font-weight-bold);
    font-size: 20px;
    line-height: calc(1em + 10px);
    text-align: center;

    @media (--viewport-tablet) {
        width: 67%;
        padding: 175px 0;
        font-size: 24px;
    }

    @media (--viewport-desktop) {
        width: 50%;
        font-size: 30px;
    }
}

.section {
    padding: 48px 24px;

    &:nth-child(2n + 1) > .sectionRow {
        flex-direction: row-reverse;
    }
}

.sectionRow {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 0 -24px;
}

.body {
    flex: 0 0 100%;
    max-width: 100%;
    margin-bottom: 24px;
    padding: 0 24px;

    @media (--viewport-ipad) {
        flex: 0 0 40%;
        max-width: 40%;
        margin: 0;
    }
}

.imageContainer {
    flex: 0 0 100%;
    max-width: 100%;
    padding: 0 24px;
    text-align: center;

    @media (--viewport-ipad) {
        flex: 0 0 60%;
        max-width: 60%;
    }
}

.title {
    margin-bottom: 12px;
    color: #414b56;
    font-weight: var(--headings-font-weight);
    font-size: 20px;

    @media (--viewport-ipad) {
        font-size: 20px;
    }

    @media (--viewport-desktop) {
        font-size: 24px;
    }

    @media (--viewport-wide) {
        font-size: 24px;
    }
}

.text {
    margin-bottom: 36px;
    color: #676f78;

    @media (--viewport-desktop) {
        font-size: 18px;
    }
}
