.main {
    background: rgb(233, 247, 255);
    transition: background 0.5s ease 0s;
}

.text {
    width: 77%;
    max-width: 665px;
    margin: 0 auto;
    padding: 125px 0;
    color: var(--color-font);
    font-weight: var(--font-weight-bold);
    font-size: 20px;
    line-height: calc(1em + 10px);
    text-align: center;

    @media (--viewport-tablet) {
        width: 67%;
        padding: 175px 0;
        font-size: 24px;
    }

    @media (--viewport-desktop) {
        width: 50%;
        font-size: 30px;
    }
}
