.root {
    padding: 48px 0;
    background-color: #eff3f5;
    border-top: 1px solid #ebeff2;

    @media (--viewport-tablet) {
        padding-top: 84px;
    }

    @media (--viewport-desktop) {
        padding-bottom: 48px;
    }
}

.header {
    margin-bottom: 36px;
    text-align: center;

    @media (--viewport-desktop) {
        margin-bottom: 60px;
    }
}

.title {
    color: var(--color-font);
    font-weight: var(--headings-font-weight);
    font-size: 22px;
    font-family: var(--headings-font);
    line-height: var(--headings-line-height);

    @media (--viewport-ipad) {
        font-size: 24px;
    }

    @media (--viewport-desktop) {
        font-size: 26px;
    }

    @media (--viewport-wide) {
        font-size: 30px;
    }
}

.items {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 1fr;
    justify-content: center;
    padding: 0 18px;

    @media (--viewport-ipad) {
        padding: 0 36px;
    }

    @media (--viewport-desktop) {
        grid-template-columns: repeat(2, 1fr);
        padding: 0 48px;
    }

    @media (--viewport-wide) {
        padding: 0 60px;
    }
}

.item {
    width: 100%;
    max-width: 530px;
    margin: 0 auto;
}

.footer {
    margin-top: 24px;
    text-align: center;
}

.link {
    padding-bottom: 4px;
    color: var(--color-font);
    font-weight: var(--font-weight-bold);
    border-bottom: 2px solid var(--color-font);
    transition: border-color 0.15s ease;

    &:hover {
        @media (--viewport-desktop) {
            border-color: var(--color-font);
        }
    }

    @media (--viewport-ipad) {
        font-size: var(--font-size-large);
    }

    @media (--viewport-desktop) {
        padding-bottom: 4px;
        border-color: transparent;
    }
}
